body {
    font-family: "Satoshi", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(ellipse at bottom, #0d1e31, #111);
    color: #fff;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .night {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
  }
  
  .star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 4px;
    width: 100px;
    background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699BFF);
    animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
  }
  
  @keyframes tail {
    0% {
      width: 0px;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes falling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  
  .star::before, .star::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    height: 4px;
    width: 30px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;
  }
  
  @keyframes shining {
    0% {
      width: 0px;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  
  .star::after {
    transform: translateX(50%) rotateZ(-45deg);
  }
  
  .star:nth-child(1) {
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    animation-delay: 0.2s;
  }
  
  .star:nth-child(1)::before, .star:nth-child(1)::after {
    animation-delay: 0.2s;
  }
  
  .star:nth-child(2) {
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    animation-delay: 0.4s;
  }
  
  .star:nth-child(2)::before, .star:nth-child(2)::after {
    animation-delay: 0.4s;
  }
  
  .star:nth-child(3) {
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    animation-delay: 0.6s;
  }
  
  .star:nth-child(3)::before, .star:nth-child(3)::after {
    animation-delay: 0.6s;
  }
  
  .star:nth-child(4) {
    top: calc(50% - 0px);
    left: calc(50% - 150px);
    animation-delay: 0.8s;
  }
  
  .star:nth-child(4)::before, .star:nth-child(4)::after {
    animation-delay: 1s;
  }
  
  .star:nth-child(5) {
    top: calc(50% - -50px);
    left: calc(50% - 200px);
    animation-delay: 1.2s;
  }
  
  .star:nth-child(5)::before, .star:nth-child(5)::after {
    animation-delay: 1.2s;
  }
  
  .star:nth-child(6) {
    top: calc(50% - -100px);
    left: calc(50% - 250px);
    animation-delay: 1.4s;
  }
  
  .star:nth-child(6)::before, .star:nth-child(6)::after {
    animation-delay: 1.4s;
  }
  
  .star:nth-child(7) {
    top: calc(50% - -150px);
    left: calc(50% - 300px);
    animation-delay: 1.6s;
  }
  
  .star:nth-child(7)::before, .star:nth-child(7)::after {
    animation-delay: 1.6s;
  }
  
  .star:nth-child(8) {
    top: calc(50% - 200px);
    left: calc(50% - 350px);
    animation-delay: 1.8s;
  }
  
  .star:nth-child(8)::before, .star:nth-child(8)::after {
    animation-delay: 1.8s;
  }
  
  .star:nth-child(9) {
    top: calc(50% - 250px);
    left: calc(50% - 400px);
    animation-delay: 2s;
  }
  
  .star:nth-child(9)::before, .star:nth-child(9)::after {
    animation-delay: 2s;
  }
  
  .star:nth-child(10) {
    top: calc(50% - -200px);
    left: calc(50% - 450px);
    animation-delay: 2.2s;
  }
  
  .star:nth-child(10)::before, .star:nth-child(10)::after {
    animation-delay: 2.2s;
  }
  
  .star:nth-child(11) {
    top: calc(50% - 100px);
    left: calc(50% - 500px);
    animation-delay: 2.4s;
  }
  
  .star:nth-child(11)::before, .star:nth-child(11)::after {
    animation-delay: 2.4s;
  }
  
  h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-left: 20px;
  }
  
  h2 {
    position: relative;
    font-size: 8vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw cyan;
    text-transform: uppercase;
  }
  
  h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: lightseagreen;
    -webkit-text-stroke: 0vw cyan;
    border-right: 2px solid lightseagreen;
    overflow: hidden;
    animation: animate 6s linear infinite;
  }
  
  @keyframes animate {
    0%, 10%, 100% {
      width: 0;
    }
    70%, 90% {
      width: 100%;
    }
  }
  
  span {
    text-transform: uppercase;
  }
  .word-animation {
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding-left: -5px;
    padding-right: 5px;
  }
  
  .word-animation {
    background-color: #fff;
    background-image: url("./public/bg\ final.jpg"), url("./public/bg\ final.jpg");
    background-repeat: repeat;
    background-size: 2048px;
  
    -webkit-animation: 72s diagonal-flow infinite linear, 23s hue-rotate infinite linear;
    animation: 72s diagonal-flow infinite linear, 23s hue-rotate infinite linear;
  }
  
  @keyframes diagonal-flow {
    0% {
      background-position: 100px 100px;
    }
    100% {
      background-position: -5020px 4196px;
    }
  }
  
  @keyframes hue-rotate {
    0% {
      -webkit-filter: hue-rotate(0deg);
      filter: hue-rotate(0deg);
    }
    50% {
      -webkit-filter: hue-rotate(-60deg);
      filter: hue-rotate(-60deg);
    }
    100% {
      -webkit-filter: hue-rotate(0deg);
      filter: hue-rotate(0deg);
    }
  }
  
  @-webkit-keyframes diagonal-flow {
    0% {
      background-position: 100px 100px;
    }
    100% {
      background-position: -5020px 4196px;
    }
  }
  
  @-webkit-keyframes hue-rotate {
    0% {
      -webkit-filter: hue-rotate(0deg);
      filter: hue-rotate(0deg);
    }
    50% {
      -webkit-filter: hue-rotate(-60deg);
      filter: hue-rotate(-60deg);
    }
    100% {
      -webkit-filter: hue-rotate(0deg);
      filter: hue-rotate(0deg);
    }
  }  